:root {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    --black: #342E37;
    --gray: #4d535e;
    --red: #FB416C; 
  /*  --red: #A61C3C; */
    --purple: #4B4DED;
    --jade: #4DBDB2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--gray); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--black); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray); 
}

html {
    line-height: 1.15;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    margin: 2em 2em 2em 2em;
    background-color: #FFF;
}



h1 {
    font-size: 3rem;
    line-height: 1;
}

h2 {
    font-size: 1.8rem;
    line-height: 2.25rem;
}

h3 {
    font-size: 1.7rem;
}

p, ul {
    font-size: 1rem;
    line-height: 1.8rem;
}

ul,
li {
    margin: 0em 0em 0.5em 0.5em;
    padding: 0;
}

a {
    font-size: 1.1rem;
    line-height: 1.55rem;
    color: var(--purple);
    text-decoration: inherit;
}

.dark-theme a {
  color: var(--jade);
}

a:hover {
  text-decoration: underline;
}

.align-center {
    text-align: center;
}

.margin-top {
    margin: 5vh 0 0 0;
}

.margin-bot {
    margin: 0 0 5vh 0;
}

.text-gray {
    color: var(--gray); 
}

.text-red {
  color: var(--red);
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.flex-reverse {
  flex-wrap: wrap-reverse;
}

.flex-child-card {
  border-radius: 25px;
  padding: 20px;
  height: 100px;
  margin: 10px;
  margin-left: 0;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
  width: auto;
  transition: 0.3s;
}

.no-wrap {
  flex-flow: row nowrap !important;
}


.wrap {
  flex-flow: row wrap !important;
}

.longer-width {
  width: 50vw;
}

.shorter-width {
  width: 20vw;
  height: auto;
}

.shortest-width {
  width: 15vw;
  height: auto;
}

.padding-top {
  padding-top: 10px;
}

.margin-x {
  margin-left: 1vw;
  margin-right: 1vw;
}

.red-theme {
  background: var(--red);
  color: #FFF;
  height: auto;
  min-width: 200px;
}

.red-theme:hover {
  color: var(--black) ;
  background: white;
  border: none;

}

.dark-theme:hover {
  border: none;
  color: var(--black);
  background: white;
}

.light-theme {
  height: auto;
}

.light-theme:hover {
  color: white;
  background: var(--black);
}

.dark-theme {
  color: white;
  background: var(--black);
  height: auto;
}


.btn {
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
  margin: 5px;
  list-style-type: none;
}

.btn:hover {
  text-decoration: none;
}

.red-hover:hover {
  background: var(--red);
  color: white;
}

.max-width {
  width: 100%;
}


@media (min-width: 700px) {
    body {
        margin: 2em 10vw 2em 10vw;
    }

    .max-width {
      width: auto;
    }

    .flex-container {
      flex-flow: row nowrap; 
    }
} 


@media (min-width: 1200px) {
    body {
        margin: 2em 20vw 2em 20vw;
    }

    .flex-container {
      flex-flow: row nowrap; 
    }
} 

